body {
  background-color: white;
}
.input-file {
  background-color: #c6e5c5;
  border:1px solid black;
  height:100px;
  width: 200px;
  text-align: center;
  text-align-all: center;
  font-size: 15px;
  font-style: italic;
}

.convert {
  width: 200px;
  background-color: #c6e5c5;
  margin-top: 10px;
}